<table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax" *ngFor="let header of headers" [value]="header.value">{{header.text}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="tg-0lax">{{item.userName}}</td>
        <td class="tg-0lax">{{item.createDat}}</td>
        <td class="tg-0lax">{{item.numOfReported}}</td>
        <td class="tg-0lax">{{item.points}}</td>
        <td class="tg-0lax">{{item.numOfMemes}}</td>
      </tr>
    </tbody>
  </table>