<!-- <section class="main_nav" id="navigation">
    <nav class="main_nav-container ">
        <div class="main_nav-logo">
            <a href="/">
                <img href="/" src="../../assets/magikarp_logo.png"/>
            </a>
           
        </div>

        <div class="main_nav-search">
            <input type="text" placeholder="search" id="search" name="search">
        </div>

        <div class="main_nav-picker">
            <select>
                <option> Genre picker </option>
                <option> Genre 1</option>
                <option> Genre 2</option>
                <option> Genre 3</option>
            </select>
        </div>

    </nav>
</section> -->

<div class="columns has-text-centered padding" id="header">
    <div class="column is-1 border has-text-centered">
        <a href="/">
            <figure class="image is-48x48 is-centered">
                <img class="is-rounded" src="../../assets/magikarp_logo.png">
            </figure>
        </a>
    </div>
    <div class="column is-7 border">
        <input class="input" type="text" placeholder="search" id="search" name="search">
    </div>
    <div class="column is-4 border max-width">

        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select>
                    <option> Genre picker </option>
                    <option> Genre 1</option>
                    <option> Genre 2</option>
                    <option> Genre 3</option>
                </select>
            </div>
        </div>
    </div>
</div>