@import '../../styles/settings';

.main_nav{
    position: absolute;
    top: 0;
    width: 100%;
    background-color:  $color-1-normal;
    
    &-container{
        position: relative;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        width: auto;
        // max-width: 1640px;
        padding: 0 1.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    &-logo{
        position: relative;
        & img{
        width: 2.5rem;
        height: auto;
        }
    }

    &-search{
        width: 50%;
        & input{
            width: 100%;
        }
    }

    &-picker{
        width: 10%;
        & select{
            width: 100%;
        }
    }
}