<section class="main_nav" id="navigation">
    <nav class="main_nav-container ">
        <div class="main_nav-logo">
            <a href="/">
                <img href="/" src="../../assets/magikarp_logo.png"/>
            </a>
           
        </div>

        <div class="main_nav-search">
            <input type="text" placeholder="search" id="search" name="search">
        </div>

        <div class="main_nav-picker">
            <select>
                <option> Genre picker </option>
                <option> Genre 1</option>
                <option> Genre 2</option>
                <option> Genre 3</option>
            </select>
        </div>

    </nav>
</section>