<section id="profile">
    <div class="container">
        <h1 class="title">Profile</h1>
        <form>
            <div class="field">
                <label for="username" class="label">Username</label>
                <div class="control">
                    <input id="username" class="input" type="text" formControlName="username" disabled
                        value="{{user.username}}" />
                </div>
            </div>
            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input id="email" type="email" formControlName="email" class="input" value="{{ user.email }}" />
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">New password</label>
                <div class="control">
                    <input id="password" type="password" formControlName="password" class="input" />
                </div>
            </div>
            <button class="button is-success" (click)="updateUser()">Update</button>
        </form>

        <div *ngIf="updatedProfile" class="block notification is-success is-light margin">
            Uw profiel is geüpdatet.
        </div>
    </div>
</section>