<p>This is the Admin Page!</p>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0lax">UserName (clickable naar UserDetails van die User)</th>
        <th class="tg-0lax">CreateDate</th>
        <th class="tg-0lax">#Reported Memes (Kan op geordend worden)</th>
        <th class="tg-0lax">Points</th>
        <th class="tg-0lax"># of Memes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0lax">Bobbert</td>
        <td class="tg-0lax">03-12-13</td>
        <td class="tg-0lax">8</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">5</td>
      </tr>
      <tr>
        <td class="tg-0lax">Cornie</td>
        <td class="tg-0lax">04-12-11</td>
        <td class="tg-0lax">999</td>
        <td class="tg-0lax">10</td>
        <td class="tg-0lax">10</td>
      </tr>
      <tr>
        <td class="tg-0lax">Andhe</td>
        <td class="tg-0lax">20-01-14</td>
        <td class="tg-0lax">420</td>
        <td class="tg-0lax">-500</td>
        <td class="tg-0lax">365</td>
      </tr>
      <tr>
        <td class="tg-0lax">Dove</td>
        <td class="tg-0lax">12-08-00</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">21</td>
        <td class="tg-0lax">7</td>
      </tr>
      <tr>
        <td class="tg-0lax">Thommert</td>
        <td class="tg-0lax">01-01-90</td>
        <td class="tg-0lax">-10</td>
        <td class="tg-0lax">69</td>
        <td class="tg-0lax">13</td>
      </tr>
    </tbody>
    </table>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax">Meme Titel (zoeken?)</th>
            <th class="tg-0lax">UserName (geordend)</th>
            <th class="tg-0lax">#Reported (geordend)</th>
            <th class="tg-0lax">Createdate</th>
            <th class="tg-0lax">Reason why reported</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">Java is</td>
            <td class="tg-0lax">Bobbert</td>
            <td class="tg-0lax">8</td>
            <td class="tg-0lax">01-01-19</td>
            <td class="tg-0lax">Omdat het kut is</td>
          </tr>
          <tr>
            <td class="tg-0lax">Kut</td>
            <td class="tg-0lax">KamieKaasie</td>
            <td class="tg-0lax">999</td>
            <td class="tg-0lax">12-06-20</td>
            <td class="tg-0lax">Taalgebruik</td>
          </tr>
          <tr>
            <td class="tg-0lax">Lama zitten</td>
            <td class="tg-0lax">LamaLover420</td>
            <td class="tg-0lax">420</td>
            <td class="tg-0lax">04-10-21</td>
            <td class="tg-0lax">Toekomst?</td>
          </tr>
          <tr>
            <td class="tg-0lax">Wie? Odie!</td>
            <td class="tg-0lax">Odie</td>
            <td class="tg-0lax">0</td>
            <td class="tg-0lax">21-13-20</td>
            <td class="tg-0lax">Bestaat niet!</td>
          </tr>
          <tr>
            <td class="tg-0lax">Kutgrappen</td>
            <td class="tg-0lax">Rimpelsaurier</td>
            <td class="tg-0lax">0</td>
            <td class="tg-0lax">01-01-01</td>
            <td class="tg-0lax">Grafgrap</td>
          </tr>
        </tbody>
        </table>