<section id="signup">
    <div class="container">
        <div *ngIf="!createdAccount">
            <h1 class="title">Sign up!</h1>
            <form [formGroup]="signupForm">
                <div class="field">
                    <label for="username" class="label">Username</label>
                    <div class="control">
                        <input id="username" class="input" type="text" formControlName="username" />
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control">
                        <input id="password" class="input" type="password" formControlName="password" />
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Email</label>
                    <div class="control">
                        <input id="email" class="input" type="email" formControlName="email" />
                    </div>
                </div>
                <button class="button is-success" (click)="signup()">Sign up</button>
            </form>
        </div>

        <div *ngIf="createdAccount" class="block notification is-success is-light margin">
            An email has been sent to '{{ f.email.value }}'! Click the link in the mail to activate your account and be able to log in.
        </div>

        <div *ngIf="errors.length > 0" class="block notification is-danger is-light margin">
            <ul *ngFor="let error of errors">
                <li>{{ error }}</li>
            </ul>
        </div>
    </div>
</section>

<style>
    ul{
        background:none;
        list-style-type: circle;
    }
</style>