.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}

.container {
    width: 100%;
    margin: auto;
}
  
.one {
    width: 50%;
    float: left;
}

.two {
    margin-left: 50%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }